.wrapper {
    container: flex-container/inline-size;
}

.flex-box {
    display: flex;
    gap: 2rem;
}

@container flex-container (max-width: 576px){
    .flex-box {
        flex-direction: column;
    }
}