.button-bar-grid {
  /*  box-sizing:border-box;*/
    display:flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items:center;
    .btn-group {
        border-radius:0.375em;
        position:relative;
        display:inline-flex;
        vertical-align: middle;
        button {
            position:relative;
            flex:1 1 auto;
        }
    }
    button {
        display:inline-flex;
        align-items: center;
        padding:0.25rem 0.5rem;

        font-size:0.875rem;
        font-weight:400;
        line-height:1.6;
        color:#6c757d;
        text-align:center;
        vertical-align: middle;
        border:1px solid #6c757d;
        border-radius:0.25rem;
        background:transparent;
        margin:0;
        margin-left:-1px;

    }

    button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;


    }
    button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }


    button:disabled {
        color:#6c757d;
        pointer-events:none;
        background-color: transparent;
    }
    button:hover {
        background-color: #6c757d;
        color: #fff;
        border-color:#6c757d;
    }
}