/*
This is CSS for shogiboard.
all ID selectors(start with #) are for backward compatibility only. the latest code will only use
class selectors
Idea of this CSS is to position each piece  according to classes (C-column and r-row) assigned to a image file.
(Also, part of shogiboard, position of note-window etc., is positioned absolutely by CSS)

the equation is as follows (each image file size is 43 x 48. offsets are after trial and error)
Original images sizes used for "large" class
                                       x=43x(9-c)+11+12
y=48x(r-1)+10+10
size of board and grid image is : 410 x 454. offset (margin) put a 0,0 cordinate to (11,10)
.board= size of board itself =410x454
Default size uses the 70% scaling.
.
small size uses the following calculations
This will use 60% scaling.
* x-width=26, y-height=29
* x=26x(9-c)+11+7
* y=29x(r-1)+10+7
*  410 x 454.
* board-width and height with this scaling will be 246 x 272
*/

:root {

    --normal-width: 309px;
    --large-width: 433px;
    --small-width: 433px;

    --original-koma-width: 43px;
    --original-koma-height: 48px;
    --original-board-width: 410px;
    --original-board-height: 454px;

    --koma-width: calc(var(--original-koma-width) * 0.7);
    --koma-height: calc(var(--original-koma-height) * 0.7);
    --board-width: calc(var(--original-board-width) * 0.7);
    --board-height: calc(var(--original-board-height) * 0.7);
    --out-of-sight: -2000px;

    --col-postion-base: 288px;
    --row-position-offset: -16px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.board-app {
    /*  container-type:inline-size;
      container-name:appBoard;*/
    min-width: calc(var(--board-width) + 22px);
    container: board-app/inline-size;

}

.board-app > * {
    width: 100%;
}

.app-container {
    display: flex;
    padding: 0 5px 0;
}

.board-container {
    width: var(--normal-width);

}

.board-container-exp {
    min-width: var(--normal-width);
    display: grid;

}

.coordinate-base {
    position: relative;
    width: calc(var(--board-width) + 22px);
}

.large .board-container {
    width: 433px;

}

.large .board-container-exp {
    min-width: 433px;
    grid-template-columns: 433px;
}

.row-on-hand {
    position: relative;
    height: 32px;

    padding: 5px;


}

.large .row-on-hand {
    height: 48px;
}

.koma, .marker {
    position: absolute;
}


.koma, .marker, .komadai img {
    width: var(--koma-width);
    height: var(--koma-height);
}

.rS {
    top: 328px;
    z-index: 500
}

.large .rS {
    top: 464px;
}

.small .rS {
    top: 285px;
}

 .rG {
    top: calc(0px - var(--koma-height) * 0.8);
}



.flip180 {
    transform: rotate(180deg);

}

.animate-move {
    transition: 0.4s;
}

.flip-button {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.playerName {
    position: absolute;
    left: calc(var(--board-width) - 100px) ;
    width: 120px;
    font-size: x-small;
    text-overflow:clip;
}

.large .playerName {
    left: 240px;
    width: 188px;
    font-size: small;
}

.playerName-gote {
    top: 25px;
}

.large .playerName-gote {
    top: 35px;
}

.playerName-sente {
    top: -5px;
}

.large .playerName-sente {
    top: 0;
}

.text-align-normal {
    text-align: right;
}

.text-align-flipped {
    text-align: left;
}

.save-flip-box {
    position: absolute;
    top: 0;
    left: -5px;
}

.save-button-position {
    position: absolute;
    top: 5px;
    left: 300px;
    cursor: pointer;
}


.large .save-button-position {
    left: 420px;
}

.small .save-button-position {
    left: 255px;
}

.flip-button-position {
    position: absolute;
    top: 5px;
    cursor: pointer;

}

.image-capture-position {
    position: absolute;
    top: 5px;
    cursor: pointer;
    left: 284px;
}

.large .image-capture-position {
    left: 399px;
}

.small .image-capture-position {
    left:242px;
}

.text-highlight {
    color: white;
    background: darkgray;
}

.tsume .rG {
    top: var(--out-of-sight);
    z-index: 500;
}


.row-on-hand span {
    position: absolute;
    font-size: xx-small;
    bottom: 0 !important;
    padding: .35em .65em;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #212529;
    border-radius: 50rem;
    z-index: 700
}

.large .row-on-hand span {
    font-size: x-small;
}

.button-bar-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.onMove {
    z-index: 1000 !important;

}

.outOfSite {
    left: var(--out-of-sight);
    top: var(--out-of-sight);
}

.caption {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 3px;
    margin-top: 20px;
}

.large .caption {
    font-size: 1.2rem;
    padding-top: 5px;
}

/*move elements out of the way */
.c0 {
    left: var(--out-of-sight);
}

.r0 {
    top: var(--out-of-sight);
}

.board {
    position: absolute;
    /*left: 10px;
    top: 9px;*/
    margin: 10px;
    /*width: 286px;*/
    width:var(--board-width);
    /*height: 318px;*/
    height:var(--board-height);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.large .board {
    width: 410px;
    height: 454px;
}

.boardbase-grid {
    position: relative;
    width: calc(var(--board-width) + 22px);
    min-width: calc(var(--board-width) + 22px);
    height: calc(var(--board-height) + 18px);
}

/*.large .boardbase-grid {
    width: 433px;
    min-width: 433px;
    height: 464px;

}*/
.boardbase-right {
    position:absolute;
    top:0;
    left: calc(var(--board-width) / 2 );
    width: calc(var(--board-width) / 2 + 22px);
    height: calc(var(--board-height) + 18px);
}
.boardbase-left {
    position:absolute;
    top:0;
    left:0;
    width: calc(var(--board-width) / 2);
    height: calc(var(--board-height) + 18px);
}


.comment {
    width: inherit;
    white-space: pre-wrap;
    overflow: auto;
    font-size: 0.8em;
    padding-left: 7px;
    height: 100px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
}

.side-comment {
    min-width: 100px;
    white-space: pre-wrap;
    font-size: 1.1rem;
    margin-left: 2rem;
    margin-top: 2rem;


}

.option-select {
    padding: .275rem 2.25rem .375rem .75rem;
    font-size: 0.75rem;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 16px 12px;
    border: 1px solid #ced40a;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
    max-width: 108px;
}

.note-window {
    font-size: 0.75rem;
    position: absolute;
    top: 12px;
    left: calc(var(--board-width) - 100px);
    width: 100px;

}



.endOfMove {
    font-size: 0.75rem;
    position: absolute;
   /* top: 394px;*/
    top: calc(var(--board-height) + 20px +  var(--koma-height) * 2);
    left: calc(var(--board-width) - 90px);
    text-align: right;
    width: 100px;
}


.c1 {
    left:calc(var(--col-postion-base) - var(--koma-width) * 1);
    /*left: 258px;*/
}

.c2 {
    left:calc(var(--col-postion-base) - var(--koma-width) * 2);
    /*left: 228px;*/
}

.c3, .c-r, .cr {
    left:calc(var(--col-postion-base) - var(--koma-width) * 3);
    /*left: 198px;*/
}

.c4, .c-b, .cb {
    left:calc(var(--col-postion-base) - var(--koma-width) * 4);
    /*left: 168px;*/
}

.c5, .c-g, .cg {
    left:calc(var(--col-postion-base) - var(--koma-width) * 5);
    /*left: 138px;*/
}

.c6, .c-s, .cs {
    left:calc(var(--col-postion-base) - var(--koma-width) * 6);
    /*left: 108px;*/
}

.c7, .c-n, .cn {
    left:calc(var(--col-postion-base) - var(--koma-width) * 7);
    /*left: 78px;*/
}

.c8, .c-l, .cl {
    left:calc(var(--col-postion-base) - var(--koma-width) * 8);
    /*left: 48px;*/
}

.c9, .c-p, .cp {
    left:calc(var(--col-postion-base) - var(--koma-width) * 9);
    /*left: 18px;*/
}

.r1 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 1);
    /*top: 17px;*/
}

.r2 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 2);
    /*top: 50px;*/
}

.r3 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 3);
    /*top: 83px;*/
}

.r4 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 4);
    /*top: 116px;*/
}

.r5 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 5);
    /*top: 149px;*/
}

.r6 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 6);
    /*top: 182px;*/
}

.r7 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 7);
    /*top: 215px;*/
}

.r8 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 8);
    /*top: 248px;*/
}

.r9 {
    top:calc(var(--row-position-offset) + var(--koma-height) * 9);
    /*top: 281px;*/
}

.large {
        --col-postion-base: 408px;
        --row-position-offset: -28px;
        --board-height: var(--original-board-height);
        --board-width: var(--original-board-width);
        --koma-width: var(--original-koma-width);
        --koma-height: var(--original-koma-height);
    .endOfMove{
        font-size: 1rem;
    }
    .comment {
        height: 120px;
    }

    .note-window {
        font-size: 1rem;
        top: 18px;
        left: 283px;
        width: 140px;
    }

}

.small {
    --col-postion-base: 249px;
    --row-position-offset: -13px;
    --board-height: calc(var(--original-board-height) * 0.6);
    --board-width: calc(var(--original-board-width) * 0.6);
    --koma-width: calc(var(--original-koma-width) * 0.6);
    --koma-height: calc(var(--original-koma-height) * 0.6);

}

/* container query to collapse side comment vertically at 576px;*/
@container board-app (max-width: 576px) {
    .app-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .side-comment {
        margin-left: 0;
        margin-top: 0;
        padding: 20px;
    }
}

