/*
This is CSS for shogiboard.
all ID selectors(start with #) are for backward compatibility only. the latest code will only use
class selectors
Idea of this CSS is to position each piece  according to classes (C-column and r-row) assigned to a image file.
(Also, part of shogiboard, position of note-window etc., is positioned absolutely by CSS)

the equation is as follows (each image file size is 43 x 48. offsets are after trial and error)
Original images sizes used for "large" class
                                       x=43x(9-c)+11+12
y=48x(r-1)+10+10
size of board and grid image is : 410 x 454. offset (margin) put a 0,0 cordinate to (11,10)
.board= size of board itself =410x454
Default size uses the following parameters.
small size uses the following calculations
This will use 60% scaling.
* x-width=26, y-height=29
* x=26x(9-c)+11+7
* y=29x(r-1)+10+7
*  410 x 454.
* board-width and height with this scaling will be 246 x 272
*/


.board-app {
    margin: 15px 4px 0;
}
.board-container {
    display: grid;
    width: 309px;
    grid-template-columns: 309px;
    grid-auto-rows: auto;
}
.large .board-container {
    width:433px;
    grid-template-columns: 433px;
}

.row-on-hand {
    position: relative;
    height: 32px;
    padding: 5px;


}
.large .row-on-hand {
    height:48px;
}

.koma, .marker {
    position: absolute;
}


.koma, .marker, .komadai img {
    width: 30px;
    height: 33px;
}

.rS {
    top: 328px;
    z-index: 500
}
.large .rS {
    top:464px;
}

.rG {
    top: -32px;
    z-index: 500
}
.large .rG {
    top:-43px;
}

.flip180 {
    transform: rotate(180deg);

}

.animate-move {
    transition: 0.4s;
}

.playerName {
    position: absolute;
    left: 180px;
    width: 120px;
    font-size: x-small;
}
.large .playerName {
    left:240px;
    width:188px;
    font-size:small;
}
.playerName-gote {
    top: 25px;
}

.large .playerName-gote {
   top:35px;
}

.playerName-sente {
    top: -5px;
}
.large .playerName-sente {
    top:0;
}

.text-align-normal {
    text-align: right;
}

.text-align-flipped {
    text-align: left;
}

.save-flip-box {
    position: absolute;
    top: 0;
    left: -5px;
}

.save-button-position {
    position: absolute;
    top: 5px;
    left: 300px;
    cursor: pointer;
}


.large .save-button-position {
    left:420px;
}

.flip-button-position {
    position: absolute;
    top: 5px;
    cursor: pointer;

}
.text-highlight {
    color:white;
    background:darkgray;
}
.tsume .rG {
    top: -1000px;
    z-index: 500;
}



.row-on-hand span {
    position: absolute;
    font-size: xx-small;
    bottom: 0 !important;
    padding: .35em .65em;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #212529;
    border-radius: 50rem;
    z-index: 700
}

.large .row-on-hand span {
    font-size:x-small;
}

.button-bar-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.onMove {
    z-index: 1000 !important;

}

.lostworld {
    left: -20000px;
    top: -20000px;
}

.caption {
    text-align: center;
    font-size:0.9rem;
    padding-top:3px;
}
.large .caption {
    font-size:1.2rem;
    padding-top:5px;
}
/*move elements out of the way */
.c0 {
    left: -20000px
}
.r0 {
    top: -20000px
}

.board {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 286px;
    height: 312px;
}

.large .board {
    width: 410px;
    height: 454px;
}

.boardbase-grid {
    position: relative;
    width: 309px;
    min-width: 309px;
    height: 326px;
}

.large .boardbase-grid {
    width:433px;
    min-width:433px;
    height:464px;

}


.large .koma, .large .marker, .large .komadai img {
    width: 43px;
    height: 48px;
}

.small .koma, .small .marker, .small .komadai img {
    width: 26px;
    height: 29px;
}

.comment {
    width: inherit;
    white-space: pre-wrap;
    overflow: auto;
    font-size: 0.8em;
    padding-left: 7px;
    height: 100px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
    box-sizing: border-box;
}

.option-select {
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 0.75rem;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 16px 12px;
    border: 1px solid #ced40a;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
    max-width:108px;
}

.note-window {
    font-size: 0.75rem;
    position: absolute;
    top: 12px;
    left: 200px;
    width: 100px;

}
.large .note-window {
    font-size:1rem;
    top:18px;
    left:283px;
    width:140px;
}
.endOfMove {
    font-size: 0.75rem;
    position:absolute;
    top:390px;
    left:200px;
    text-align:right;
    width:100px;
}
.large .comment {
    height: 120px;
}

.c1 {
    left: 258px;
}

.c2 {
    left: 228px;
}

.c3, .c-r, .cr {
    left: 198px;
}

.c4, .c-b, .cb {
    left: 168px;
}

.c5, .c-g, .cg {
    left: 138px;
}

.c6, .c-s, .cs {
    left: 108px;
}

.c7, .c-n, .cn {
    left: 78px;
}

.c8, .c-l, .cl {
    left: 48px;
}

.c9, .c-p, .cp {
    left: 18px;
}

.r1 {
    top: 17px;
}

.r2 {
    top: 50px;
}

.r3 {
    top: 83px;
}

.r4 {
    top: 116px;
}

.r5 {
    top: 149px;
}

.r6 {
    top: 182px;
}

.r7 {
    top: 215px;
}

.r8 {
    top: 248px;
}

.r9 {
    top: 281px;
}


.large .c1 {
    left: 365px;
}

.large .c2 {
    left: 322px;
}

.large .c3, .large .c-r, .large .cr {
    left: 279px;
}

.large .c4,.large .c-b,.large .cb {
    left: 236px;
}

.large .c5, .large .c-g,.large .cg {
    left: 193px;
}

.large .c6, .large .c-s, .large .cs {
    left: 150px;
}

.large .c7, .large .c-n, .large .cn {
    left: 107px;
}

.large .c8, .large .c-l, .large .cl {
    left: 64px;
}

.large .c9, .large .c-p, .large .cp {
    left: 21px;
}

.large .r1 {
    top: 20px;
}

.large .r2 {
    top: 68px;
}

.large .r3 {
    top: 116px;
}

.large .r4 {
    top: 164px;
}

.large .r5 {
    top: 212px;
}

.large .r6 {
    top: 260px;
}

.large .r7 {
    top: 308px;
}

.large .r8 {
    top: 356px;
}

.large .r9 {
    top: 404px;
}


.small .c1 {
    left: 224px;
}

.small .c2 {
    left: 198px;
}

.small .c3 {
    left: 172px;
}

.small .c4 {
    left: 146px;
}

.small .c5 {
    left: 120px;
}

.small .c6 {
    left: 94px;
}

.small .c7 {
    left: 68px;
}

.small .c8 {
    left: 42px;
}

.small .c9 {
    left: 16px;
}

.small .r1 {
    top: 15px;
}

.small .r2 {
    top: 44px;
}

.small .r3 {
    top: 73px;
}

.small .r4 {
    top: 102px;
}

.small .r5 {
    top: 131px;
}

.small .r6 {
    top: 160px;
}

.small .r7 {
    top: 189px;
}

.small .r8 {
    top: 218px;
}

.small .r9 {
    top: 247px;
}
